footer {
    background: url('../images/background-image-footer.png') center top no-repeat;
    padding-bottom: 10px;
    border-bottom: 10px solid $color-orange;
    padding-top: 5%;
    font-weight: bold;

    @media screen and (max-width: 768px) {
        width: 100%;
        display: inline-block;
        background: none;
    }

    // Logo
    .logo {
        overflow: hidden;
        margin-left: 8%;
        margin-top: 2%;
        width: 5%;
        height: 20%;
        position: relative;
        float: left;
        @media screen and (max-width: 414px) {
            width: 45%;
            clear: both;
            float: none;
            margin-top: 12%;
            margin-left: 27%;
        }
    }
    // Contact
    .contact {
        position: relative;
        float: left;
        width: 40%;
        margin-left: 17%;
        margin-top: 3%;
        @media screen and (max-width: 414px) {
            float: none;
            width: 100%;
            margin-left: 0;
        }
        span {
            display: block;
            a {
                color: $color-orange;
            }
        }
        .highlight {
            border: 1px solid $color-orange;
            padding: 9px 0;
        }
    }
    // Social Mídia
    .social-midia {
        letter-spacing: 5px;
        position: relative;
        float: left;
        width: 12%;
        margin-left: 7%;
        margin-top: 4%;
        @media screen and (max-width: 414px) {
            float: none;
            width: 100%;
            margin-left: 20%;
        }
        ul {
            display: inline-block;
            li {
                display: inline-block;
                > a {
                    cursor: pointer;
                    display: block;
                    height: 100%;
                }
            }
            .icon {
                height: 23px;
                overflow: hidden;
                text-indent: 999px;
                vertical-align: middle;
                width: 23px;
                &-instagram {
                    @extend .icon;
                    background: url('../images/icon-instagram.png') 0 0 no-repeat;
                }
                &-facebook {
                    @extend .icon;
                    background: url('../images/icon-facebook.png') 0 0 no-repeat;
                }
            }
        }
    }
}
