    @media (min-width:1600px) {

    }

    @media (max-width:1300px) {

    }

    @media (min-width:1000px) {
        .step-09 {
            .text-container {
                width: 100%;
                clear: both;
                margin-left: -50%;
            }
        }
    }

    @media (max-width:768px) {
        .step {
            .desc br {
                display: none;
            }

            .desc_details{
                width: 346px;
                margin-left: 400px;
            }
            .insta{
                h2{
                    margin-top: 57px;
                }
            }
        }
        .step-03{
            &::before{
                margin-left: 50px !important;
            }
            &::after{
                top: 195px;
                right: -15px !important;
            }
            .tit{
                margin-left: 400px;
            }
            .foto{
                margin-left: 90px;
            }
            .desc{
                margin-left: 400px;
            }
        }

        .step-04{
            .tit{
                margin-left: 400px;
            }

            .bt_fechar{
                margin-top: 70px;
            }
        }

        .step-05{
            &::after{
                top: 195px;
                right: -15px !important;
            }

            .insta{
                margin-top: 5px;
            }
            .bt_fechar{
                margin-top: 70px;
            }
        }

        .step-06{
            &::before{
                margin-right: 50px !important;
                margin-left: 0 !important;
                width: 730px;
            }
            &::after{
                top: 160px;
                left: 0px !important;
            }
            .tit{
                margin-left: 40px;
            }
            .foto{
                margin-left: 0;
                margin-right: -70px;
            }
            .desc{
                margin-left: 40px;
                margin-top: 15px;
            }
            .bt_mais{
                margin-top: 25px;
            }
            .insta{
                margin-top: 5px;
            }
        }

        .step-10{
            &::after{
                top: 150px;
                right: -15px !important;
            }

            // &.active{
            //     height: 1300px;
            // }
        }

        .step-12{
            .tit{
                margin-left: 40px;
                max-width: 80%;
            }
            .foto{
                margin-left: 0;
                margin-right: -70px;
            }
            .desc{
                margin-left: 40px;
                margin-top: 15px;
            }
            .bt_mais{
                margin-top: 25px;
            }

            .insta{
                margin-top: 5px;
            }
        }
    }

    @media (max-width:375px) {
        .step {
            .desc_details{
                width: 43%;
                margin-left: 180px;
                font-size: 8px;

                // .bt_fechar{
                //     margin-top: 43px;
                // }
            }
            .foto{
                img{
                    width: 125px;
                }
            }
            .insta{
                // height: 690px;
                // margin-top: -7px;
                h2{
                    margin-top: 15px;
                    font-size: 17px;
                    padding-left: 65px;
                    &::before{
                        top: 25px;
                        left: 1px;
                        background-size: 70px;
                    }
                }
                // .mural{
                //     padding-left: 0;
                //     height: 200px;
                //     .imagem{
                //         width: 95px;
                //         height: 95px;
                //         a{
                //             width: 95px;
                //             height: 95px;
                //             img{
                //                 width: 95px;
                //                 height: 95px;
                //             }
                //         }
                //         &.big{
                //             width: 185px;
                //             height: 190px;
                //             a{
                //                 width: 190px;
                //                 height: 190px;
                //                 img{
                //                     width: 190px;
                //                     height: 190px;
                //                 }
                //             }
                //         }
                //     }
                // }
                // .playlist{
                //     float:initial;
                //     text-align: right;
                //     position: relative;
                //     margin: 40px auto;
                //     width: 275px;
                //     &:before{
                //         left: -120px;
                //     }
                //     .redes{
                //         text-align: center;
                //     }
                // }
            }
        }
        .step-03{
            &::before{
                margin-left: 20px !important;
                
            }
            &::after{
                top: 114px;
                right: 8px !important;
                background-size: 50px;
                width: 50px;
                height: 21px;
            }
        }

        .step-04{
            &::after{
                top: 124px;
                background-size: 50px;
                width: 50px;
                height: 21px;
                left: 8px !important;
            }
        }

        .step-10{
            &::before{
                margin-left: 20px !important;
                
            }
            &::after{
                top: 85px;
                right: 8px !important;
                background-size: 50px;
                width: 50px;
                height: 21px;
            }
            .tit{
                margin-left: 180px;
                width: 160px;
            }
        }
    }

