section {
    position: relative;
}

.foto {
    position: absolute;
    top: 0;
    &::before {
        content: 'APEROL LOVER';
        display: block;
        background-color: transparent;
        position: absolute;
        z-index: 1;
        font-size: 52px;
        font-weight: bold;
        text-transform: uppercase;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        bottom: 158px;
        white-space: nowrap;
        @media screen and (max-width: 414px) {
            bottom: 0;
            font-size: 22px;
        }
    }
}

.tit {
    position: relative;
    z-index: 3;
}

.desc {
    font-size: 13px;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 500;
    @media screen and (max-width: 414px) {
        font-size: 11px;
        line-height: 18px;
    }
}

.step {
    position: relative;
    @media screen and (max-width: 414px) {
        min-height: 220px;
        background: #fe5000;
        margin-bottom: 30px;
        height: auto!important;
        margin-top: 20px!important;
    }
    &:nth-child(even) {
        &:before {
            margin-left: 133px;
        }
        .foto {
            @media screen and (max-width: 414px) {
                margin-left: 8%;
                margin-top: 10px;
                width: 40%;
                img {
                    width: 100%;
                    max-width: 100%;
                }
            }
            &::before {
                margin-left: -201px;
                @media screen and (max-width: 414px) {
                    margin-left: -72%;
                    bottom: 47%;
                }
            }
        }
    }
    &:nth-child(odd) {
        &:before {
            margin-left: 103px;
        }
        .foto {
            @media screen and (max-width: 414px) {
                margin-left: 8%;
                margin-top: 10px;
                width: 40%;
                  right: 8%;
                img {
                    width: 100%;
                    max-width: 100%;
                }
            }
            &::before {
                margin-left: 155px;
                @media screen and (max-width: 414px) {
                    margin-left: 46%;
                    bottom: 47%;
                }
            }
        }
    }
    &:before {
        content: '';
        display: block;
        width: 790px;
        height: 334px;
        background-color: #fe5000;
        position: absolute;
        z-index: -1;
        margin-top: 44px;
        @media screen and (max-width: 414px) {
            display: none;
        }
    }
    &:after {
        content: '';
        display: block;
        width: 101px;
        height: 35px;
        background-color: transparent;
        background-image: url('../images/mar.png');
        position: absolute;
        z-index: 2;
        top: 60px;
        @media screen and (max-width: 414px) {
            display: none;
        }
    }
    &:nth-child(even) {
        &:after {
            right: 78px;
        }
    }
    &:nth-child(odd) {
        &:after {
            left: 89px;
        }
    }
}

.desc_details {
    display: none;
    font-size: 16px;
    width: 400px;
    margin-top: 40px;
    margin-left: 480px;
    line-height: 27px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 500;
}

.bt_mais {
    display: block;
    width: 185px;
    height: 45px;
    text-indent: -9999px;
    background: url('../images/bt_mais.png') left no-repeat;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    margin-top: 15px;
    &:hover {
        background: url('../images/bt_mais_over.png') left no-repeat;
        transition: background 0.6s;
        -webkit-transition: background 0.6s;
    }
}

.bt_fechar {
    display: block;
    width: 106px;
    height: 21px;
    text-indent: -9999px;
    background: url('../images/bt_fechar.png') left no-repeat;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    margin-top: 15px;
    position: absolute;
    right: 0;
    margin-right: 29px;
    margin-top: 49px;
}

.bt_vejamapa {
    display: inline-block;
    width: 125px;
    height: 19px;
    position: absolute;
    transition: background .6s;
    -webkit-transition: background .6s;
    right: 0;
    margin-top: 9px;
    background: url('../images/vejaomapa.png') left no-repeat;
    text-indent: -9999px;
    @media screen and (max-width: 414px) {
        width: 105px;
        height: 19px;
        background-size: contain;
    }
    &:hover {
        opacity: 0.7;
        background: url('../images/vejaomapa.png') left no-repeat;
        transition: background 0.6s;
        -webkit-transition: background 0.6s;
    }
}

.bt_oevento {
    display: block;
    width: 185px;
    height: 45px;
    text-indent: -9999px;
    background: url('../images/bt_oevento.png') left no-repeat;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    margin-top: 15px;
    &:hover {
        background: url('../images/bt_oevento_over.png') left no-repeat;
        transition: background 0.6s;
        -webkit-transition: background 0.6s;
    }
}

.step-02 {
    background: url('../images/background-step-02.png') center no-repeat;
    height: 544px;
    @media screen and (max-width: 414px) {
        height: auto;
        margin-top: 50px;
    }
    h3 {
        color: #fe5000;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        font-weight: 500;
        text-decoration: underline;
    }
    .doit {
        margin-left: 80px;
        float: left;
        margin-top: 20px;
        @media screen and (max-width: 414px) {
            margin-left: 0;
            float: none;
            margin-top: 50px;
            img {
                width: 50%;
                margin: 0 auto;
                display: block;
            }
        }
    }
    .text-doit {
        width: 120px;
        float: left;
        margin-left: 190px;
        margin-top: 200px;
    }
    .doit-mobile {
        @media screen and (max-width: 414px) {
            margin: 0 auto;
            width: 100%;
            img {
                width: 100%;
                max-width: 100%;
                display: block;
                margin: 0 auto;
            }
        }
    }
    .recipe {
        margin-top: 45px;
        font-size: 22px;
        line-height: 29px;
        text-transform: uppercase;
        color: #fe5000;
        font-weight: bold;
        .part3,
        .part2,
        .part1 {
            width: 180px;
            float: left;
        }
        .part3 {
            margin-left: 260px;
        }
        .part2 {
            margin-left: 45px;
        }
        .part1 {
            width: 190px;
            margin-left: 25px;
        }
    }
}

.step-03 {
    height: 401px;
    margin-top: -42px;
    .tit {
        margin-left: 422px;
        margin-top: 65px;
        @media screen and (max-width: 414px) {
            margin-left: 45%;
            margin-top: 5px;
            width: 50%;
            max-width: 100%;
        }
    }
    .desc {
        margin-left: 465px;
        margin-top: 41px;
        @media screen and (max-width: 414px) {
            margin-left: 0;
            position: absolute;
            right: 0;
            width: 46%;
            margin-top: 10px;
            padding-right: 10px;
        }
    }
    .foto {
        left: 0;
        margin-left: 160px;
        margin-top: 10px;
    }
    &.active {
        height: 839px;
        .desc_details {
            display: block;
        }
        .desc {
            display: none;
        }
        .bt_mais {
            display: none;
        }
    }
}

.step-04 {
    height: 401px;
    .tit {
        margin-left: 264px;
        margin-top: 58px;
        @media screen and (max-width: 414px) {
            margin-left: 5%;
            margin-top: 5px;
            width: 50%;
            max-width: 100%;
        }
    }
    .desc {
        margin-left: 267px;
        margin-top: 26px;
        @media screen and (max-width: 414px) {
            margin-left: 5%;
            margin-top: 6px;
            width: 48%;
        }
    }
    .foto {
        right: 0;
        right: 155px;
        margin-top: 9px;
        @media screen and (max-width: 414px) {
            margin-left: 48%;
            margin-top: 10px;
            width: 40%;
            right: 5%;
        }
    }
}

.step-05 {
    height: 401px;
    .tit {
        margin-left: 377px;
        margin-top: 55px;
        @media screen and (max-width: 414px) {
            margin-left: 45%;
            margin-top: 5px;
            width: 50%;
            max-width: 100%;
        }
    }
    .desc {
        margin-left: 455px;
        margin-top: 11px;
        @media screen and (max-width: 414px) {
            margin-left: 0;
            position: absolute;
            right: 0;
            width: 46%;
            margin-top: 10px;
            padding-right: 10px;
        }
    }
    .foto {
        left: 0;
        margin-left: 155px;
        margin-top: 10px;
    }
}

.step-06 {
    height: 401px;
    .tit {
        margin-left: 247px;
        margin-top: 65px;
        @media screen and (max-width: 414px) {
            margin-left: 5%;
            margin-top: 5px;
            width: 50%;
            max-width: 100%;
        }
    }
    .desc {
        margin-left: 256px;
        margin-top: 2px;
        @media screen and (max-width: 414px) {
            margin-left: 5%;
            margin-top: 6px;
            width: 48%;
        }
    }
    .foto {
        right: 165px;
        margin-top: 10px;
        @media screen and (max-width: 414px) {
            margin-left: 48%;
            margin-top: 10px;
            width: 40%;
            right: 5%;
        }
    }
}

.step-07 {
    background: url('../images/background-step-07.png') center bottom no-repeat;
    height: 865px;
    margin-top: 53px;
    @media screen and (max-width: 414px) {
        background: url();
        height: auto;
    }
    .main_tit {
        font-size: 44px;
        line-height: 50px;
        font-weight: 700;
        color: #403c3b;
        letter-spacing: 5px;
        margin-left: 70px;
        strong {
            display: block;
            color: #fe5000;
        }
        @media screen and (max-width: 414px) {
            font-size: 32px;
            line-height: 38px;
            margin-left: 5%;
        }
    }
    .party {
        float: left;
        margin-top: 339px;
        margin-left: 93px;
        width: 505px;
        padding-top: 36px;
        padding-left: 110px;
        padding-right: 31px;
        @media screen and (max-width: 414px) {
            margin-top: 19px;
            width: 100%;
            margin-left: 0;
            padding-left: 20px;
            padding-right: 20px;
            background-color: #fe5000;
            float: none;
        }
        .tit {
            color: #fff;
            line-height: 41px;
            font-size: 41px;
            letter-spacing: 2px;
            font-weight: 600;
            text-transform: uppercase;
            min-height: 82px;
            padding-right: 25px;
            @media screen and (max-width: 414px) {
                line-height: 28px;
                font-size: 26px;
            }
        }
        .sub_tit {
            color: #3f3c3b;
            line-height: 29px;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            display: block;
        }
        p {
            color: #fff;
            line-height: 26px;
            font-size: 16px;
            text-transform: uppercase;
            margin-top: 15px;
            text-decoration: underline;
            @media screen and (max-width: 414px) {
                line-height: 21px;
                font-size: 11px;
            }
        }
        #partyText {
            overflow: auto;
            height: 178px;
            @media screen and (max-width: 414px) {
                height: 138px;
            }
        }
    }
    .party-calendar {
        width: 290px;
        float: right;
        margin-right: 77px;
        margin-top: 510px;
        @media screen and (max-width: 414px) {
            margin-top: 30px;
            float: none;
            width: 100%;
            padding-left: 5%;
        }
        .tit {
            color: #fe5000;
            font-size: 17px;
            letter-spacing: 10px;
            text-transform: uppercase;
            font-weight: 500;
            border-bottom: solid 1px #fe5000;
            padding-bottom: 9px;
        }
        a {
            display: block;
            border-bottom: solid 1px #fe5000;
            height: auto;
            min-height: 39px;
            font-size: 11px;
            line-height: 34px;
            color: #3e3c3c;
            font-weight: 700;
            text-transform: uppercase;
            position: relative;
            margin-top: -2px;
            padding-top: 2px;
            padding-bottom: 2px;
            span {
                font-size: 11px;
                line-height: 38px;
                font-weight: 400;
                margin-left: 10px;
                letter-spacing: 1.6px;
            }
            &.active {
                font-weight: bold;
                text-decoration: none;
                span {
                    font-weight: bold;
                }
                &:after {
                    right: 5px;
                    top: 13px;
                }
            }
            &:hover {
                text-decoration: none;
                font-weight: bold;
                span {
                    font-weight: bold;
                }
                &:after {
                    right: 5px;
                    top: 13px;
                }
            }
            &:after {
                display: block;
                width: 10px;
                height: 10px;
                content: '';
                position: absolute;
                right: 10px;
                background: url(../images/plus.png) center bottom no-repeat;
                top: 13px;
            }
        }
    }
}

.step-08 {
    height: 488px;
    margin-top: 28px;
    position: relative;
    @media screen and (max-width: 414px) {
        height: 950px;
    }
    .main_tit {
        font-size: 44px;
        line-height: 50px;
        font-weight: 700;
        color: #fe5000;
        letter-spacing: 5px;
        margin-left: 70px;
        strong {
            display: block;
            color: #403c3b;
        }
        @media screen and (max-width: 414px) {
            font-size: 29px;
            line-height: 33px;
            margin-left: 5%;
        }
    }
    .kombi {
        position: absolute;
        top: 0px;
        right: 273px;
        z-index: 3;
        @media screen and (max-width: 414px) {
            top: 430px;
            right: 52%;
            width: 48%;
            img {
                width: 100%;
                max-width: 100%;
            }
        }
    }
    .mapas {
        width: 554px;
        margin-top: 17px;
        position: absolute;
        @media screen and (max-width: 414px) {
            width: 100%;
            max-width: 100%;
            position: relative;
        }
        iframe {
            width: 553px;
            height: 367px;
            @media screen and (max-width: 414px) {
                width: 100%;
                max-width: 100%;
            }
        }
    }
    .kombi-desc {
        width: 240px;
        float: right;
        margin-top: 8px;
        margin-right: 17px;
        position: absolute;
        right: 8px;
        @media screen and (max-width: 414px) {
            float: none;
            width: 47%;
            margin-top: 388px;
            margin-right: 0;
        }
        p {
            font-size: 11px;
            line-height: 23px;
            font-weight: bold;
            letter-spacing: 1px;
            color: #fe5000;
            text-decoration: underline;
            text-transform: uppercase;
            strong {
                color: #403c3b;
                text-decoration: underline;
            }
            @media screen and (max-width: 414px) {
                font-size: 8px;
                line-height: 13px;
            }
        }
    }
    .kombi-calendar {
        width: 407px;
        float: right;
        margin-right: 51px;
        margin-top: 151px;
        overflow: auto;
        height: 228px;
        padding-right: 20px;
        @media screen and (max-width: 414px) {
            width: 100%;
            padding-right: 0;
            margin-right: 0;
            padding-left: 5%;
            height: auto;
        }
        .tit {
            color: #fe5000;
            font-size: 17px;
            letter-spacing: 10px;
            text-transform: uppercase;
            font-weight: 500;
            border-bottom: solid 1px #fe5000;
            padding-bottom: 9px;
        }
        p {
            display: block;
            border-bottom: solid 1px #fe5000;
            height: 39px;
            font-size: 11px;
            line-height: 34px;
            color: #3e3c3c;
            font-weight: 700;
            text-transform: uppercase;
            position: relative;
            margin-top: -2px;
            padding-top: 2px;
            padding-bottom: 2px;
            @media screen and (max-width: 414px) {
                font-size: 9px;
            }
            &.active {
                font-weight: bold;
                span {
                    font-weight: bold;
                }
            }
            span {
                font-size: 11px;
                line-height: 38px;
                font-weight: 400;
                margin-left: 30px;
                @media screen and (max-width: 414px) {
                    margin-left: 10px;
                    font-size: 9px;
                }
            }
        }
    }
}

.step-09 {
    background: url('../images/background-step-09.png') center no-repeat;
    height: 556px;
    @media screen and (max-width: 414px) {
        height: auto;
        background: url() $color-orange;
    }
    .text {
        float: left;
        margin-top: 12px;
        margin-left: 4px;
        width: 508px;
        padding-top: 88px;
        padding-left: 110px;
        padding-right: 31px;
        @media screen and (max-width: 414px) {
            float: none;
            width: 100%;
            padding: 5%;
        }
        .tit {
            color: #fff;
            line-height: 41px;
            font-size: 41px;
            letter-spacing: 12px;
            font-weight: 600;
            text-transform: uppercase;
            @media screen and (max-width: 414px) {
                line-height: 35px;
                font-size: 31px;
            }
        }
        p {
            color: #fff;
            line-height: 35px;
            font-size: 19px;
            text-transform: uppercase;
            margin-top: 34px;
            text-decoration: underline;
            letter-spacing: 3px;
            @media screen and (max-width: 414px) {
                line-height: 25px;
                font-size: 14px;
                margin-top: 14px;
            }
            span {
                font-weight: bold;
                color: #403c3b;
                text-decoration: underline;
            }
        }
    }
    .mural {
        position: absolute;
        width: 510px;
        height: 511px;
        overflow: hidden;
        right: 0;
        @media screen and (max-width: 414px) {
            position: relative;
            width: 100%;
            height: auto;
        }
        .insta {
            display: block;
            float: left;
            &:nth-child(4) {
                opacity: 0;
                pointer-events: none;
            }
            @media screen and (max-width: 414px) {
                    width: 33%;
                }
            a {
                position: relative;
                display: block;
                width: 170px;
                height: 170px;
                background-size: cover;
                cursor: pointer;
                @media screen and (max-width: 414px) {
                    width: 100%;
                    height: 136px;
                }
                &:hover {
                    cursor: pointer;
                    &:before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.3);
                        position: absolute;
                        pointer-events: none;
                        cursor: pointer;
                    }
                    &:after {
                        content: '';
                        display: block;
                        width: 34px;
                        height: 34px;
                        top: 69px;
                        left: 69px;
                        background-image: url('../images/instaimage.png');
                        position: absolute;
                        pointer-events: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
  @media screen and (max-width: 414px) {
        .row {
          margin: 0!important;
        }
    }
