section {
    position: relative;
}

.foto {
    position: absolute;
    top: 0;
    &::before {
        content: 'APEROL LOVER';
        display: block;
        background-color: transparent;
        position: absolute;
        z-index: 1;
        font-size: 52px;
        font-weight: bold;
        text-transform: uppercase;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        bottom: 158px;
        white-space: nowrap;
    }
}

.tit {
    position: relative;
    z-index: 3;
}

.desc {
    font-size: 13px;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 500;
}

.step {
    position: relative;
    &:nth-child(even) {
        &:before {
            margin-left: 133px;
        }
        .foto {
            &::before {
                margin-left: -201px;
            }
        }
    }
    &:nth-child(odd) {
        &:before {
            margin-left: 103px;
        }
        .foto {
            &::before {
                margin-left: 155px;
            }
        }
    }
    &:before {
        content: '';
        display: block;
        width: 790px;
        height: 334px;
        background-color: #fe5000;
        position: absolute;
        z-index: -1;
        margin-top: 44px;
    }
    &:after {
        content: '';
        display: block;
        width: 101px;
        height: 35px;
        background-color: transparent;
        background-image: url('../images/mar.png');
        position: absolute;
        z-index: 2;
        top: 60px;
    }
    &:nth-child(even) {
        &:after {
            right: 78px;
        }
    }
    &:nth-child(odd) {
        &:after {
            left: 89px;
        }
    }
}

.desc_details {
    display: none;
    font-size: 16px;
    width: 400px;
    margin-top: 40px;
    margin-left: 480px;
    line-height: 27px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 500;
}

.bt_mais {
    display: block;
    width: 185px;
    height: 45px;
    text-indent: -9999px;
    background: url('../images/bt_mais.png') left no-repeat;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    margin-top: 15px;
    &:hover {
        background: url('../images/bt_mais_over.png') left no-repeat;
        transition: background 0.6s;
        -webkit-transition: background 0.6s;
    }
}

.bt_fechar {
    display: block;
    width: 106px;
    height: 21px;
    text-indent: -9999px;
    background: url('../images/bt_fechar.png') left no-repeat;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    margin-top: 15px;
    position: absolute;
    right: 0;
    margin-right: 29px;
    margin-top: 49px;
}

.bt_vejamapa {
    display: inline-block;
    width: 125px;
    height: 19px;
    position: absolute;
    transition: background .6s;
    -webkit-transition: background .6s;
    right: 0;
    margin-top: 9px;
    background: url('../images/vejaomapa.png') left no-repeat;
    text-indent: -9999px;
    &:hover {
        background: url('../images/vejaomapa.png') left no-repeat;
        transition: background 0.6s;
        -webkit-transition: background 0.6s;
    }
}

.bt_oevento {
    display: block;
    width: 185px;
    height: 45px;
    text-indent: -9999px;
    background: url('../images/bt_oevento.png') left no-repeat;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    margin-top: 15px;
    &:hover {
        background: url('../images/bt_oevento_over.png') left no-repeat;
        transition: background 0.6s;
        -webkit-transition: background 0.6s;
    }
}

.step-02 {
    background: url('../images/background-step-02.png') center no-repeat;
    height: 544px;
    h3 {
        color: #fe5000;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        font-weight: 500;
        text-decoration: underline;
    }
    .doit {
        margin-left: 80px;
        float: left;
        margin-top: 20px;
    }
    .text-doit {
        width: 120px;
        float: left;
        margin-left: 190px;
        margin-top: 200px;
    }
    .recipe {
        margin-top: 45px;
        font-size: 22px;
        line-height: 29px;
        text-transform: uppercase;
        color: #fe5000;
        font-weight: bold;
        .part3,
        .part2,
        .part1 {
            width: 180px;
            float: left;
        }
        .part3 {
            margin-left: 260px;
        }
        .part2 {
            margin-left: 45px;
        }
        .part1 {
            width: 190px;
            margin-left: 25px;
        }
    }
}

.step-03 {
    height: 401px;
    margin-top: -42px;
    .tit {
        margin-left: 422px;
        margin-top: 65px;
    }
    .desc {
        margin-left: 465px;
        margin-top: 41px;
    }
    .foto {
        left: 0;
        margin-left: 160px;
        margin-top: 10px;
    }
    &.active {
        height: 839px;
        .desc_details {
            display: block;
        }
        .desc {
            display: none;
        }
        .bt_mais {
            display: none;
        }
    }
}

.step-04 {
    height: 401px;
    .tit {
        margin-left: 264px;
        margin-top: 58px;
    }
    .desc {
        margin-left: 267px;
        margin-top: 26px;
    }
    .foto {
        right: 0;
        right: 155px;
        margin-top: 9px;
    }
}

.step-05 {
    height: 401px;
    .tit {
        margin-left: 377px;
        margin-top: 55px;
    }
    .desc {
        margin-left: 455px;
        margin-top: 11px;
    }
    .foto {
        left: 0;
        margin-left: 155px;
        margin-top: 10px;
    }
}

.step-06 {
    height: 401px;
    .tit {
        margin-left: 247px;
        margin-top: 65px;
    }
    .desc {
        margin-left: 256px;
        margin-top: 2px;
    }
    .foto {
        right: 165px;
        margin-top: 10px;
    }
}

.step-07 {
    background: url('../images/background-step-07.png') center bottom no-repeat;
    height: 865px;
    margin-top: 53px;
    .main_tit {
        font-size: 44px;
        line-height: 50px;
        font-weight: 700;
        color: #403c3b;
        letter-spacing: 5px;
        margin-left: 70px;
        strong {
            display: block;
            color: #fe5000;
        }
    }
    .party {
        float: left;
        margin-top: 339px;
        margin-left: 113px;
        width: 505px;
        padding-top: 36px;
        padding-left: 110px;
        padding-right: 31px;
        .tit {
            color: #fff;
            line-height: 41px;
            font-size: 41px;
            letter-spacing: 2px;
            font-weight: 600;
            text-transform: uppercase;
        }
        .sub_tit {
            color: #3f3c3b;
            line-height: 29px;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
        }
        p {
            color: #fff;
            line-height: 26px;
            font-size: 16px;
            text-transform: uppercase;
            margin-top: 15px;
            text-decoration: underline;
        }
    }
    .party-calendar {
        width: 290px;
        float: right;
        margin-right: 77px;
        margin-top: 510px;
        .tit {
            color: #fe5000;
            font-size: 17px;
            letter-spacing: 10px;
            text-transform: uppercase;
            font-weight: 500;
            border-bottom: solid 1px #fe5000;
            padding-bottom: 9px;
        }
        a {
            display: block;
            border-bottom: solid 1px #fe5000;
            height: 39px;
            font-size: 11px;
            line-height: 34px;
            color: #3e3c3c;
            font-weight: 700;
            text-transform: uppercase;
            position: relative;
            margin-top: -2px;
            padding-top: 2px;
            padding-bottom: 2px;
            span {
                font-size: 11px;
                line-height: 38px;
                font-weight: 400;
                margin-left: 30px;
            }
            &:hover {
                text-decoration: none;
                font-weight: bold;
                span {
                    font-weight: bold;
                }
                &:after {
                    right: 20px;
                    top: 13px;
                }
            }
            &:after {
                display: block;
                width: 10px;
                height: 10px;
                content: '';
                position: absolute;
                right: 10px;
                background: url(../images/plus.png) center bottom no-repeat;
                top: 13px;
            }
        }
    }
}

.step-08 {
    background: url('../images/background-step-08.png') left no-repeat;
    height: 488px;
    margin-top: 28px;
    position: relative;
    .main_tit {
        font-size: 44px;
        line-height: 50px;
        font-weight: 700;
        color: #fe5000;
        letter-spacing: 5px;
        margin-left: 70px;
        strong {
            display: block;
            color: #403c3b;
        }
    }
    .kombi-desc {
        width: 240px;
        float: right;
        margin-top: 8px;
        margin-right: 17px;
        position: absolute;
        right: 8px;
        p {
            font-size: 11px;
            line-height: 23px;
            font-weight: bold;
            letter-spacing: 1px;
            color: #fe5000;
            text-decoration: underline;
            text-transform: uppercase;
            strong {
                color: #403c3b;
                text-decoration: underline;
            }
        }
    }
    .kombi-calendar {
        width: 367px;
        float: right;
        margin-right: 79px;
        margin-top: 155px;
        border-top: solid 1px #fe5000;
        .tit {
            color: #fe5000;
            font-size: 17px;
            letter-spacing: 10px;
            text-transform: uppercase;
            font-weight: 500;
            border-bottom: solid 1px #fe5000;
            padding-bottom: 9px;
        }
        p {
            display: block;
            border-bottom: solid 1px #fe5000;
            height: 39px;
            font-size: 11px;
            line-height: 34px;
            color: #3e3c3c;
            font-weight: 700;
            text-transform: uppercase;
            position: relative;
            margin-top: -2px;
            padding-top: 2px;
            padding-bottom: 2px;
            span {
                font-size: 11px;
                line-height: 38px;
                font-weight: 400;
                margin-left: 30px;
            }
        }
    }
}

.step-09 {
    background: url('../images/background-step-09.png') center no-repeat;
    height: 556px;
    .text {
        float: left;
        margin-top: 12px;
        margin-left: 4px;
        width: 508px;
        padding-top: 88px;
        padding-left: 110px;
        padding-right: 31px;
        .tit {
            color: #fff;
            line-height: 41px;
            font-size: 41px;
            letter-spacing: 12px;
            font-weight: 600;
            text-transform: uppercase;
        }
        p {
            color: #fff;
            line-height: 35px;
            font-size: 19px;
            text-transform: uppercase;
            margin-top: 34px;
            text-decoration: underline;
            letter-spacing: 3px;
            span {
                font-weight: bold;
                color: #403c3b;
                text-decoration: underline;
            }
        }
    }
    .mural {
        position: absolute;
        width: 510px;
        height: 511px;
        overflow: hidden;
        right: 0;
        .insta {
            display: block;
            float: left;
            &:nth-child(4) {
                opacity: 0;
                pointer-events: none;
            }
            a {
                position: relative;
                display: block;
                width: 170px;
                height: 170px;
                background-size: cover;
                cursor: pointer;
                &:hover {
                    cursor: pointer;
                    &:before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.3);
                        position: absolute;
                        pointer-events: none;
                        cursor: pointer;
                    }
                    &:after {
                        content: '';
                        display: block;
                        width: 34px;
                        height: 34px;
                        top: 69px;
                        left: 69px;
                        background-image: url('../images/instaimage.png');
                        position: absolute;
                        pointer-events: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
